<div class="skills">
    <h2>My Skills.</h2>
    <div class="skill-row">
      <img class="coding-img" src="https://img.freepik.com/premium-vector/coding-programmer-workspace-with-cactus-coffee-book-vector-clip-art-illustration_138676-87.jpg" alt="">
      <h3>Programming</h3>
      <p>Clearing my own ERRORS experience on languages like C++, JAVA, SQL, BASH.</p>
    </div>
    <div class="skill-row">
      <img class="terminal-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDwzMYjxp0dljiP1uuea3GFAzR1mnb_1FMaw183Zd9Tg&s" alt="">
      <h3>Tool Building</h3>
      <p>Love to crack stuff also know to build tools which cracks stuff, Yeah BASH scripting.</p>
    </div>
  </div>
<router-outlet></router-outlet>
